body{
    background-color: #004d00;
}
div{
    width: 150px;
    height: 150px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
  justify-content: center;
  align-items: center;
 margin: auto;
 margin-top: 250px;
 font-size: 20px;
}